.ttt-cell {
  background-color: #ffffff;
  border: 1px solid black;
  margin: 1px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}

.ttt-cell-empty:hover {
  background-color: #f8f8f8;
}

.ttt-cell-X {
  background-color: #b9dafc;
  cursor: default;
}

.ttt-cell-O {
  background-color: #aff0b4;
  cursor: default;
}

.ttt-cell-X-winning {
  background-color: #7ebcfa;
  cursor: default;
}

.ttt-cell-O-winning {
  background-color: #7fec88;
  cursor: default;
}

.ttt-table {
  background-color: #e0e0e0;
  border: 1px solid black;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 8px;
  display: table;
  user-select: none;
}

.ttt-history-controller-button {
  background-color: #4caf50;
  border: none;
  color: white;
  margin: 30px;
  width: 90px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.ttt-history-controller-button:hover {
  background-color: #3fb943;
}
/* .ttt-history-controller-button:focus {
  background-color: #4caf50;
} */

.ttt-history-controller-button:disabled {
  background-color: grey;
  color: lightgrey;
  cursor: default;
}

.app {
  text-align: center;
}
